<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">EJS IS FUN</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/productos">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productos/cargar-productos">Cargar Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/producto-test">Producto test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chat">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/info/comprimido">Info comprimida</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/info/sin-comprimir">Info sin comprimir</a>
    </li>
  </ul>
  <div class="navbar-nav mr-0">
    <a class="nav-link" href="/session/login">Login</a>
    <a class="nav-link" href="/session/registrar">Registrar</a>
  </div>
</nav>