<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <% if(msg) { %>

            <div class="showProcessInfo jumbotron">
                <p><b>Numero:</b> <%= msg %></p>
                
            </div>

        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>